@import url('https://fonts.googleapis.com/css?family=BioRhyme|Bungee|Bungee+Shade&display=swap');
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: 'BioRhyme', serif;
    color: #5E6973;
    background-color: #BDFFFD;
}

h1 {
    font-size: 3.5em;
    color: #5E6973;
    font-family: 'Bungee Shade', cursive;
}

h2 {
    font-size: 1.7em;
    color: #5E6973;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'BioRhyme', serif;
}

h3 {
    font-size: 1.3em;
    color: #5E6973;
    text-align: center;
    font-family: 'BioRhyme', serif; 
}

a {
    text-decoration: none;
    color: #5E6973;
}
    
a:hover {
    color: #BDFFFD;
}

ul {
    list-style-type: none;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 750px;
    background-color: #6ABEA7;
}

header {
    text-align: center;
    background-color: #6ABEA7;
}

footer {
    font-size: 0.7em;
    padding-top: 10px;
    text-align: center;
    background-color: #6ABEA7;
}

div {
    text-align: center;
    border: 2px solid #5E6973;
    margin: 15px;
    padding: 5px;
}

button {
    margin: 10px;
}

/*final project additions */

#enterquestions {
    display: none;
}
#enterquestions.show {
    display: block;
}

#generatequizparagraph {
    display: none;
}

#generatequizparagraph.showquizcategories {
    display: block;
}

#generatedquiz {
    display: none;
}

#generatedquiz.showgeneratedquiz {
    display: block;
}

#hiddenbutton1 {
    display: none;
}

#hiddenbutton2 {
    display: none;
}

#hiddenbutton1.showbutton {
    display: inline-block;
}

#hiddenbutton2.showbutton {
    display: inline-block;
}

.leftalign {
    text-align: left;
}

.centeralign {
    text-align: center;
}

#quiztitle {
    font-size: 1.7em;
    color: #5E6973;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Bungee Shade', cursive;
}

#enterquestions, #allquestionsdiv, .questiondiv, #generatedquiz {
    border: none;
    padding: 0;
}