@import url('https://fonts.googleapis.com/css?family=BioRhyme|Bungee|Bungee+Shade&display=swap');
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: 'BioRhyme', serif;
    color: #5E6973;
    background-color: #BDFFFD;
}

h1 {
    font-size: 3.5em;
    color: #5E6973;
    font-family: 'Bungee Shade', cursive;
}

h2 {
    font-size: 1.7em;
    color: #5E6973;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'BioRhyme', serif;
}

h3 {
    font-size: 1.3em;
    color: #5E6973;
    text-align: center;
    font-family: 'BioRhyme', serif; 
}

a {
    text-decoration: none;
    color: #5E6973;
}
    
a:hover {
    color: #BDFFFD;
}

ul {
    list-style-type: none;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 750px;
    background-color: #6ABEA7;
}

header {
    text-align: center;
    background-color: #6ABEA7;
}

footer {
    font-size: 0.7em;
    padding-top: 10px;
    text-align: center;
    background-color: #6ABEA7;
}

div {
    text-align: center;
    border: 2px solid #5E6973;
    margin: 15px;
    padding: 5px;
}

button {
    margin: 10px;
}

/*final project additions */

#enterquestions {
    display: none;
}
#enterquestions.show {
    display: block;
}

#generatequizparagraph {
    display: none;
}

#generatequizparagraph.showquizcategories {
    display: block;
}

#generatedquiz {
    display: none;
}

#generatedquiz.showgeneratedquiz {
    display: block;
}

#hiddenbutton1 {
    display: none;
}

#hiddenbutton1:hover {
    font-size: 1em;
    margin: 10px;
    transition: none;
    background-color: #BDFFFD;
    transition: background-color .5s ease-out;
}

#hiddenbutton2 {
    display: none;
}

#hiddenbutton2:hover {
    font-size: 1em;
    margin: 10px;
    transition: none;
    background-color: #BDFFFD;
    transition: background-color .5s ease-out;
}

#hiddenbutton1.showbutton {
    display: inline-block;
}

#hiddenbutton2.showbutton {
    display: inline-block;
}

.leftalign {
    text-align: left;
}

.centeralign {
    text-align: center;
}

#quiztitle {
    font-size: 1.7em;
    color: #5E6973;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Bungee Shade', cursive;
}

#enterquestions, #allquestionsdiv, .questiondiv, #generatedquiz, #myquizzes, #myquizzesdiv, #generatequizparagraph, .scorediv, #hiddenbuttons {
    border: none;
    padding: 0;
}

#myquizzesdiv {
    display: none;
}

.selectionresult {
    visibility: hidden;
    opacity: 0;
    width: 106px;
    height: 45px;
    background: #5E6973;
    margin: 0 auto;
    color: #FFFFFF;
}

.questionoption:hover {
    color: #BDFFFD;
    cursor: pointer;
    transition: color .5s ease-out;
}

button {
    font-family: 'BioRhyme', serif;
    color: #5E6973;
    background-color: #6ABEA7;
    border-radius: 5px;
    border: 2px solid #5E6973;
    cursor: pointer;
}

button:hover {
    font-size: 1.2em;
    margin: 5px;
    background-color: #BDFFFD;
    transition: background-color .5s ease-out;
    transition: font-size .5s ease-out;
}

.scoredisplay {
    opacity: 0;
    transition: 2s;
    font-weight: bold;
    border: none;
}

#myquizzes {
    margin-top: 0;
}

#myquizzesdiv {
    margin-bottom: 35px;
}

#hiddenbuttons {
    display: none;
}

#hiddenbuttons.show {
    display: block;
}

.clickedbutton {
  animation: shake 0.5s;
  animation-iteration-count: 2s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.textanimation {
    animation: color-change .5s ease 3;
}

@keyframes color-change {
    0%   {color: #BDFFFD;}
    50%  {color: #6ABEA7;}
    100% {color: #BDFFFD;}
}

.backgroundanimation {
    animation: backgroundtransition .5s ease 3;
}

@keyframes backgroundtransition {
    0%   {background-color: #6ABEA7;}
    50%  {background-color: #BDFFFD;}
    100% {background-color: #6ABEA7;}
}

.quiztitle {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}