@import url('https://fonts.googleapis.com/css?family=BioRhyme|Bungee|Bungee+Shade&display=swap');
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: 'BioRhyme', serif;
    color: #5E6973;
    background-color: #BDFFFD;
}

h1 {
    font-size: 3em;
    color: #5E6973;
    font-family: 'Bungee Shade', cursive;
}

h2 {
    font-size: 1.7em;
    color: #5E6973;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'BioRhyme', serif;
}

h3 {
    font-size: 1.3em;
    color: #5E6973;
    text-align: center;
    font-family: 'BioRhyme', serif; 
}

a {
    text-decoration: none;
    color: #5E6973;
}
    
a:hover {
    color: #BDFFFD;
}

ul {
    list-style-type: none;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 650px;
    background-color: #6ABEA7;
}

header {
    text-align: center;
    background-color: #6ABEA7;
}

footer {
    font-size: 0.7em;
    padding-top: 10px;
    text-align: center;
    background-color: #6ABEA7;
}

div {
    text-align: center;
    border: 2px solid #5E6973;
    margin: 15px;
    padding: 5px;
}

button {
    margin: 10px;
}

/*topic 11 additions*/

.divanimation1 {
    animation: backgroundtransition 15s ease infinite;
}

@keyframes backgroundtransition {
    0%   {background-color: #6ABEA7;}
    25%  {background-color: #BDFFFD;}
    50%  {background-color: #DD7373;} 
    75%  {background-color: #BDFFFD;}
    100% {background-color: #6ABEA7;}
}

.divanimation2 {
    position: relative;
    animation: lateraltransition 7.5s linear infinite;
}

@keyframes lateraltransition {
    0%   {left: 0px; transform: scale(0);}
    25%  {left: 200px; transform: scale(.5);}
    50%  {left: 0px; transform: scale(1);}
    75%  {left: -200px; transform: scale(.5);}
    100% {left: 0px; transform: scale(0);}
}

.divanimation3 {
    animation: spintransition 3.75s ease-in-out infinite;
}

@keyframes spintransition {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(-360deg);}
}

.loadingclass {
    font-size: 20px;
}

.loading {
  margin: 0 auto;
  border: 13px solid #BDFFFD;
  border-radius: 50%;
  border-top: 13px solid #6ABEA7;
  border-bottom: 13px solid #DD7373;
  width: 100px;
  height: 100px;
  animation: loaderspin 2s linear infinite;
}

@keyframes loaderspin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.menudiv {
    display: inline-block;
    border: none;
}

#image1 {
    transition: 3s ease-in-out;
}

#image1:hover {
    transform: rotate(180deg) scale(-1);
}

#image2 {
    transition: 2s ease-in-out;
}

#image2:hover {
    transform: scale(-1) skewX(360deg);
}

#image3 {
    transition: 1s ease-in-out;
}

#image3:hover {
    transform: rotateY(360deg);
}




