<!DOCTYPE html>
<html lang="en-US">   
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CIT 261 Topic # | Alexandra Derby | BYU-Idaho</title>
    <meta name="description" content="cit261 topic #">
    <script type="text/javascript" src="../javascript/topic-.js"></script>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/topic-.css">
</head>
<body>
    <header>
        <h1><a href="../index.html">Alexandra Derby</a></h1>
    </header>
    <main>
        <h2>Topic #</h2>
       
    </main>
    <footer>
        <p>
            &copy; 2019 | Alexandra Derby | Canada | <a href="http://www.byui.edu/online">BYU Idaho Online Learning</a>
        </p>
    </footer>
</body>    
</html>